<!-- <div class="container mt-5">
    <h1 class="text-center alert alert-primary">Pipe Tasks</h1>
    <div class="row">
        <div class="col-12">
            <p class="alert alert-info">
                {{title | uppercase}}
            </p>

            <p class="alert alert-info">
                {{title | lowercase}}
            </p>

            <p class="alert alert-info">
                {{title | titlecase}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>{{course.title | uppercase}}</h2>
                </div>
                <div class="card-body">
                    <p>
                        Students : {{course.students | number}}
                    </p>

                    <p>
                        Rating : {{course.rating | number : '1.2-2'}}
                    </p>

                    <p>
                        Price : {{course.price | currency : 'INR' }}
                    </p>

                    <p>
                        Release Date : {{course.releaseDate | date : 'mediumDate' }}
                    </p>
                    <p>
                        Release Date : {{course.releaseDate | date : 'longDate' }}
                    </p>
                    <p>
                        Release Date : {{course.releaseDate | date : 'shortDate' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="alert alert-info text-center">Task-1 Letter Limit</h2>

            <p class="alert alert-info">
                {{title | summary: 20}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p class="alert alert-info">
                {{title | summary: 30}}
            </p>
        </div>
       </div> 

        <div class="row mt-5">
            <div class="col-12">
                <p class="alert alert-info">
                    {{title | summary: 40}}
                </p>
            </div>
        </div>

        <h2 class="alert alert-primary text-center">Task-2 Word Limit</h2>
        <div class="row mt-5">
            <div class="col-12">
                <p class="alert alert-info">
                    {{title | summaryWord: 5}}
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <p class="alert alert-info">
                    {{title | summaryWord: 10}}
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <p class="alert alert-info">
                    {{title | summaryWord: 15}}
                </p>
            </div>
        </div>
    </div> -->


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label  class="font-weight-bold" for="teamName">Enter Team Name</label>
                    <input  [(ngModel)]="searchValue" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Team Name</th>
                            <th>ODI Runs</th>
                            <th>Test Runs</th>
                            <th>Debut Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of playersArr | filterPlayer: searchValue; let i= index">
                            <td>{{i + 1}}</td>
                            <td>{{player.name}}</td>
                            <td>{{player.team}}</td>
                            <td>{{player.odiRuns}}</td>
                            <td>{{player.testRuns}}</td>
                            <td>{{player.yearDebut}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>